# Q-1

In [12]:
# taking input as percentage 75
percentage=int(input("enter the percentage"))
if percentage>90:
    print("Congrats you got A grade")
elif percentage>80 and percentage<=90:
    print("congrats you got B grade")
elif percentage>=60 and percentage<=80:
    print("you got C grade")
else:
    print("your grade is D")

enter the percentage 75

you got C grade

# Q-2

In [22]:
# taking input as 65000
cost_price=int(input("enter the cost price of bike"))
if cost_price>100000:
    print(f"road tax to be paid @15% {cost_price*.15}")
elif cost_price>50000 and cost_price<=100000:
    print(f"road tax to be paid @10% {cost_price*.10}")
else:
    print(f"road tax to be paid @5%  {cost_price*.5}")

enter the cost price of bike 65000

road tax to be paid @10% 6500.0

# Q-3

In [44]:
# type 1
# taking Agar as input

city=input("enter city name")
if city=="Delhi":
    print("monument to watch  Red fort")
elif city=="Agra":
    print("monument to watch Taj Mahal")
else:
    print(" monument to watch Jal Mahal")

enter city name Agra

monument to watch Taj Mahal

In [45]:
# Another way of solving this question by using only  " if " statement

In [47]:
city=input("enter name of the city")
if city =="Delhi":
    print("monument to watch in Delhi is Red fort")
if city=="Agra":
    print("monument to watch in Agra is Taj Mahal")
if city=="Jaipur":
    print("monument to watch in Jaipur is Jal Mahal")

enter name of the city Jaipur

monument to watch in Jaipur is Jal Mahal

# Q-4

In [11]:
number=int(input("enter the number"))
count=0
while number>10:
    number=number/3
    count=count+1
    print(count)

enter the number 45

1
2

# Q-5

### why and when to use while loop inpython give a detailes descriptionwith example .

#A while loop is a contro; flow statement in python that allows you to repeatedly execute a block of code as long as a certain condition is true . The condition is a boolean expression that is evaluate before each iteration of the loop . if the condition is true , the block of code inside the loop is executed After hte block of code is executed  ,the codition is checked again , and if it is still true , the block odf code is executed again .This processs is continue untill the codition becomes false .

 One common use case for a while loop in python is to iterate over a sequence of value or a range of number . for example 
 the following code use a while loop to print the number 1 to 10

In [18]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# Q-6

In [12]:
# pattern 1
i=1
while i<=10:
    j=1
    while j<=i:
        print("*",end="")
        j=j+1
    i=i+1
    print(" ")

*
**
***
****
*****
******
*******
********
*********
**********

In [33]:
# patten 2
i=int(input("enter the number"))
row=1
while row<=i:
    row_space=i-row
    star=(2*row)-1
    while row_space>0:
        print(" ",end="")
        row_space=row_space-1
    while star>0:
        print("*",end="")
        star=star-1
    row=row+1
    print()

enter the number 7

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [4]:
# pattern 3
i=int(input("enter the number"))
while i>=1:
    j=i
    while j>=1:
        print("*",end="")
        j=j-1
    i=i-1
    print()

enter the number 5

*****
****
***
**
*

In [5]:
print("next")

next

# Q-7

In [14]:
num=10
while num>0:
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1

Question 7 and 8 are same